.fileItemContainer {
  display: flex;
  align-items: center;
}

.fileItemTitle {
  margin-left: 10px;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
  cursor: pointer;
}

.fileItemInput {
  margin-left: 10px;
  width: 270px;
}